{% extends 'base.html' %} 

{% block title %} Authors! {% endblock %} 

{% block body %}
<h1>Authors</h1>

<table style="border:2px black;">
  <tr>
    <td>ID<td>
    <td>Name</td>  
  </tr>
  {% for author in authors %}
  <tr>
    <td>{{ author.id }}</td>
    <td>{{ author.name }}</td>
  </tr>
  {% endfor %}
</table>


<br>

<form action="{% url 'author_add' %}" method="POST">
  {% csrf_token %}
  <label>Put Your Name:</label><br>
  <input name="name" type="text" placeholder="Put Your Name">
  <input type="submit" value="Add Author"> 
</form>

{% endblock %}
